.wp-block-podofcast-testimonial-slider-quote {
	padding: 40px;
	border-radius: 8px;
	background-color: var(--wp--preset--color--white);

	.quote {
		position: relative;
		font-size: var(--wp--preset--font-size--h-3);
		margin-top: 92px;

		&::before {
			position: absolute;
			top: -40px;
			content: "“";
			font-size: var(--wp--preset--font-size--display);
			color: var(--wp--preset--color--vermillion);
		}
	}

	.footer {
		display: flex;
		align-items: center;
	}

	.author-image {
		display: inline;
		margin-right: 10px;
		width: 48px;
		height: 48px;
		border-radius: 99px;
		background-color: var(--wp--preset--color--alice-blue);
	}

	.author-name {
		display: inline;
		font-size: var(--wp--preset--font-size--caption);
		line-height: 48px;
	}
}
