.wp-block-podofcast-testimonial-slider {
	padding-top: 140px;
	padding-bottom: 105px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--wp--preset--color--alice-blue);
	overflow: hidden;

	.heading {
		position: relative;
		margin-top: 0;
		margin-bottom: 20px;
		font-size: var(--wp--preset--font-size--h-1);
		font-weight: 700;

		&::after {
			content: "";
			position: absolute;
			left: -70px;
			top: -60px;
			width: clamp(10px, 5vw, 80px);
			height: clamp(10px, 5vw, 80px);
			display: block;
			background: url("assets/images/testimonial-slider-heading-flourish.png")
				no-repeat;
			background-size: contain;
		}
	}

	.subheading {
		margin-top: 0;
		margin-bottom: 100px;
		font-size: var(--wp--preset--font-size--h-3);
		color: var(--wp--preset--color--davys-grey);
	}

	.testimonial-slider {
		width: 100%;
		max-width: var(--wp--style--global--content-size);
		padding-right: 20px;
		padding-left: 20px;

		&-rail {
			position: relative;
		}

		&-train {
			width: fit-content;
			display: flex;
			gap: 20px;

			transition: transform 0.5s ease-in-out;
		}

		&-controls {
			margin-top: 60px;

			button {
				padding: 0;
				width: 48px;
				height: 48px;
				background: transparent;
				border: none;

				cursor: pointer;

				&.disabled {
					opacity: 0.25;
				}

				+ button {
					margin-left: 20px;
				}
			}
		}
	}

	/* Testimonial Slider Quote Blocks */
	.wp-block-podofcast-testimonial-slider-quote {
		margin: 0;
		width: 570px;
		flex-shrink: 0;
	}
}
