.podofcast-pattern-hero {
	background-color: var(--wp--preset--color--primary);
	position: relative;

	background: url("assets/images/hero-shape-swirl.png") left center no-repeat,
		url("assets/images/hero-shape-stars.png") right clamp(10px, 5vw, 60px)
			center no-repeat;

	background-size: clamp(25px, 20vw, 326px) auto,
		clamp(25px, 10vw, 156px) auto;

	/* The main heading. */
	.wp-block-heading {
		font-size: var(--wp--preset--font-size--display);
		font-weight: 500;
		padding: 0 !important; /* This needs important to override default padding in the site editor. */
		max-width: 550px;

		.last-word {
			color: var(--wp--preset--color--vermillion);
		}
	}

	/* The paragraph content. */
	p {
		max-width: 372px;
	}
}
